[Unit]
Description=Pogo

[Service]
ExecStart=/var/www/pogo/pogo.js
Restart=always
User=nobody
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Envrionment=NODE_ENV=production
WorkingDirectory=/var/www/pogo

[Install]
WantedBy=multi-user.target
