[Unit]
Description=Pogo

[Service]
ExecStart=/home/empedocles/Repos/pogo/pogo.js
Restart=always
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/empedocles/Repos/pogo

[Install]
WantedBy=multi-user.target
