[Unit]
Description=Pogo

[Service]
ExecStart=/var/www/pogo/pogo.js
Restart=always
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/var/www/pogo

[Install]
WantedBy=multi-user.target
